
body {
    background-color: #ccc;
}

img {
    max-width: 300px;
    max-height: 300px;
}

.albuns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    text-align: center;
}