
body {
    background-color: #f2f2f2;
}

.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    color: #555;
}

.form-control,
.form-select {
    background-color: #f9f9f9;
    border-color: #ccc;
}