:root {
    /* Tema Claro */
    --bg-color: #fff;
    --text-color: #000;
    --navbar-bg: #fee345;
    --card-bg: #c4c4c4;
    --footer-bg: #fee345;
    --logo-bottom-color: #001689;

    /* Tema Escuro */
    body.dark-mode {
        --bg-color: #000;
        --text-color: #fff;
        --navbar-bg: #001689;
        --card-bg: #1e1e1e;
        --footer-bg: #001689;
        --logo-bottom-color: #fee345;
    }
}